*{
    margin: 0;
    
    box-sizing: border-box;
}

body{
    font-family: serif;
    /* configura contenido de bajo del menu */
    padding:80px 0 ;/* padding: 90px 20px 0; */
}

.header{
    background-color: #0769e9;
    height: 80px;
    position: fixed; /*menu estatico en mi página*/
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav{
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color:white;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content; /*no cortar texto con dos palabras*/
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active{
    background-color: #034574;
    transition: 0.5s; 
}

.nav-toggle{
    color:white;
    background:none;
    border:none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor:pointer;
    display:none; /*ocultar menu hamburguesa*/
}

/* queries menu */

@media (max-width:768px){
body{
    padding-top:60px;
}
.header{
    height: 60px;
}
.logo{
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
}
.nav-menu{
    flex-direction: column;
    align-items: center;
    margin: 0; /*margin-right: 20px*/;
    background-color: #2c3e50;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y:auto; /*añadir barra de desplazamiento*/
    left:100%; /*ajuste de menu hamburguesa*/
    transition:left 0.3s;
}
 .nav-menu-item{
     line-height: 70px;
 }
.nav-menu-link:hover,
.nav-menu-link_active{
    background:none;
    color:#83c5f7;
}
.nav-toggle{
    display: block;
}
.nav-menu_visible{
    left:0;
}
/*resaltar seleccion con desplazamiento de tecla tabulación*/

.nav-toggle:focus:not(:focus-visible){
    outline: none;
}

}

/* hero imagen */

.hero-image{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(../IMG/hero_img.jpg)no-repeat center;
    background-size: cover;
}

.container{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    
    text-align: center;
    color:white;
    font-weight: 700;
    /* text-transform: uppercase; */
}

.container h2{
    font-size: 72px;
    letter-spacing: 0.1em;
    margin: 0;
}

.container h2 span{
    border:5px solid white;
    padding: 1px 3px;
    display: inline-block;
}

.des{
    margin: 20px;
    display: block;
    font-size: 26px;
    text-shadow: 0 0 10px black;
}

.btn{
    color:#313131;
    padding: 10px 24px;
    font-size: 20px;
    text-decoration: none;
    background: #f1f1f1;
    border-radius: 8px;
    transition: 0.3s all;
}

.btn:hover{
    opacity:0.8;
}

/* -------------- */

.protecto_section{
    text-align: center;
}

.sobremi{
    text-align: center;
}