*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: serif;
    /* configura contenido de bajo del menu */
    padding: 90px 20px 0;
}

.header{
    background-color: #0769e9;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}